<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
</head>
<body>
    <h2>Привет</h2>
    {% if request.user.profile.avatar %}
        <img src="{{ MEDIA_URL }}{{ request.user.profile.avatar }}" width="100" height="100">
    {% else %}
        <p>No Image</p>
    {% endif %}
    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Сохранить изменения</button>
    </form>
    <p>Количество постов - {{ user.profile.posts_count }}</p>

    <a href="{% url 'main' %}">Вернуться на главную страницу</a><br>
    <a href="{% url 'create_post' %}">Опубликовать новую запись</a>


</body>
</html>